---
import Navbar from '../components/Navbar.astro';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
	</body>
</html>
<style is:global>
html {  
	box-sizing: border-box;   
	scroll-behavior: smooth;
	font-size: 62.5%;
}
*, *::before, *::after {  
	box-sizing: inherit;
	text-decoration: none;
	margin: 0;  
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
	font-size: 1.6rem;
}


a {
  color: inherit;
  text-decoration: none;
}
li {
	list-style-type: none;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
  margin: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}	
</style>
